In [65]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import BayesianRidge, LinearRegression
from ggplot import *
import matplotlib.pyplot as plt
import ff

In [66]:
# for some reason, this doesn't work...
def plot_hist(lbl='gpa'):
    plt.style.use('ggplot')
    plt.figure()
    df_train[lbl].plot.hist(alpha=0.5, label = lbl)
    #plt.xlabel('% Newborns Who Were Checked Up Within 24 Hrs Of Birth Total')
    plt.legend()
    plt.show()

In [61]:
def select_respondent_data(df, person="mother"):
    respondent_dict = {'mother':'m', 'father':'f'}
    labels = ff.search(respondent_dict.get(person), 'respondent')
    print(len(labels))
    overlap_labels = [lab for lab in labels if lab in df.keys()]
    print(len(overlap_labels))
    overlap_labels = overlap_labels + ['challengeID', 'gpa', 'grit', 'materialHardship', 'eviction', 'layoff',
       'jobTraining']
    return df[overlap_labels]

## 1. Load data

In [67]:
data_dir = os.path.expanduser('~/FFC')
df_train = pd.read_csv(os.path.join(data_dir, 'train.csv'), low_memory=False)
df_bg = pd.read_csv(os.path.join(data_dir, 'background.csv'), low_memory=False)
# not sure why it's merge left - this merges predictors (backround) 
# of size 4k and outcome variables (train) of size 2k 
df = df_bg.merge(df_train, on='challengeID', how='left')

In [12]:
df_train.keys()

Index(['challengeID', 'gpa', 'grit', 'materialHardship', 'eviction', 'layoff',
       'jobTraining'],
      dtype='object')

In [ ]:
print(df_train.shape)
print(df_bg.shape)
print(df.shape)

In [ ]:
mother_data

Visualizations of the outcome variable distribution

In [68]:
mother_data = select_respondent_data(df, "mother")

4692
4568

In [69]:
df.shape

(4242, 13033)

In [70]:
mother_data.head()

,cm1intmon,cm1intyr,cm1lenhr,cm1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,cm1natsmx,...,cm5povco,cm5povca,cm5samp,challengeID,gpa,grit,materialHardship,eviction,layoff,jobTraining
0,-3,-3,-3,40,-3,0,-3,-3,-3,-3,...,-9.000000,-9,6,1,NaN,NaN,NaN,NaN,NaN,NaN
1,-3,-3,0,40,-3,1,-3,-3,-3,-3,...,0.842485,1,-7,2,NaN,NaN,NaN,NaN,NaN,NaN
2,-3,-3,0,35,-3,1,-3,-3,-3,-3,...,-9.000000,-9,7,3,NaN,NaN,NaN,NaN,NaN,NaN
3,-3,-3,0,30,-3,1,-3,-3,-3,-3,...,2.755591,4,-7,4,NaN,NaN,NaN,NaN,NaN,NaN
4,-3,-3,0,25,-3,1,-3,-3,-3,-3,...,0.744948,1,-7,5,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
mother_data.describe()

//anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:4269: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

,cm1intmon,cm1intyr,cm1lenhr,cm1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,cm1natsmx,...,cm5povco,cm5povca,cm5samp,challengeID,gpa,grit,materialHardship,eviction,layoff,jobTraining
count,4242.0,4242.0,4242.000000,4242.000000,4242.0,4242.000000,4242.0,4242.0,4242.0,4242.0,...,4242.000000,4242.000000,4242.000000,4242.00000,1165.000000,1418.000000,1459.000000,1459.000000,1277.000000,1461.000000
mean,-3.0,-3.0,-0.376238,34.397218,-3.0,0.777228,-3.0,-3.0,-3.0,-3.0,...,-1.184354,-0.347713,-3.569307,2121.50000,2.866738,3.427539,0.103745,0.059630,0.209084,0.234771
std,0.0,0.0,1.211390,13.497759,0.0,0.440916,0.0,0.0,0.0,0.0,...,5.008415,5.477788,5.616825,1224.70425,0.665322,0.485130,0.155665,0.236881,0.406814,0.424001
min,-3.0,-3.0,-9.000000,-9.000000,-3.0,-9.000000,-3.0,-3.0,-3.0,-3.0,...,-9.000000,-9.000000,-7.000000,1.00000,1.000000,1.250000,0.000000,0.000000,0.000000,0.000000
25%,-3.0,-3.0,0.000000,30.000000,-3.0,1.000000,-3.0,-3.0,-3.0,-3.0,...,-9.000000,-9.000000,-7.000000,1061.25000,NaN,NaN,NaN,NaN,NaN,NaN
50%,-3.0,-3.0,0.000000,35.000000,-3.0,1.000000,-3.0,-3.0,-3.0,-3.0,...,0.822261,2.000000,-7.000000,2121.50000,NaN,NaN,NaN,NaN,NaN,NaN
75%,-3.0,-3.0,0.000000,45.000000,-3.0,1.000000,-3.0,-3.0,-3.0,-3.0,...,2.013977,3.000000,3.750000,3181.75000,NaN,NaN,NaN,NaN,NaN,NaN
max,-3.0,-3.0,5.000000,59.000000,-3.0,1.000000,-3.0,-3.0,-3.0,-3.0,...,6.394828,5.000000,7.000000,4242.00000,4.000000,4.000000,0.818182,1.000000,1.000000,1.000000

In [80]:
results_dict = {}

df1 = mother_data.select_dtypes(include=[np.number])

#print(len(df1.columns))

# Loop over the columns 
for c,col in enumerate(df1.columns):
    if df1.keys()[c] != 'challengeID':
    
    
        stats_df = df1.loc[(df1['gpa'].notnull()) 
                          & (df1[col].notnull())
                          & (df1[col]>-9), ['gpa', col, 'challengeID']]

        #print(stats_df.describe())

        # If there's no data then don't fit a model!
        n = len(stats_df['challengeID'])

        if n > 3:
            #print(stats_df)
            model = LinearRegression(normalize=True)
            #ols.fit(X_train, y_train)
            #model = ols("gpa ~ {}".format(col), data=stats_df)
            #print(c, df1.keys()[c])
            #print(df1.keys()[c])
            #print(stats_df['cm1intmon'])
            #print(stats_df[df1.keys()[c]])
            a= stats_df['gpa'].shape[0]
            b = stats_df[df1.keys()[c]].shape[0]
            X_train = stats_df['gpa'].reshape((a,1))
            y_train = stats_df[df1.keys()[c]].reshape((b,1))
            model.fit(X_train, y_train)
            print(c, df1.keys()[c], ff.select(df1.keys()[c], 'label'), model.score(X_train, y_train))
            #print(result.summary())

            #results_dict[col] = [result.rsquared,result.nobs,result.params[1]]

        if c >  5:
            break

#df2 = pd.DataFrame.from_dict(results_dict)
#df2 = df2.T
#df2.columns = ["R^2","N","coeff"]    
#df2

0 cm1intmon {'label': 'Mother interview month'} 1.0
1 cm1intyr {'label': 'Mother interview year'} 1.0
2 cm1lenhr {'label': 'What was the total length of interview - Hours'} 0.00366298904218
3 cm1lenmin {'label': 'What was the total length of interview - Minutes'} 0.000625574992349
4 cm1twoc {'label': 'Constructed - Two cities flag'} 1.0
5 cm1fint {'label': 'Constructed - Was father interviewed?'} 3.26823721564e-06
6 cm1tdiff {'label': 'Constructed - time difference between mother and father interview dates'} 1.0

In [ ]:
def load_data(data_dir, label_id = 0):    
    train = pd.read_csv(os.path.join(data_dir, 'train.csv'))
    background = pd.read_csv(os.path.expanduser(data_dir, 'background.csv'))
    df = df_bg.merge(df_train, on='challengeID', how='left')
    #data_train = data.iloc[:labels.shape[0]]
    #y_label = labels.columns.values[label_id+1]
    #y = labels[y_label].values
    #X_train, X_test, y_train, y_test = train_test_split(data_train, y, test_size=0.33, random_state=42)
    #labels = labels.columns.values[1:]
    return X_train, X_test, y_train, y_test, labels

def run_ols(X_train, X_test, y_train, y_test, labels):
    ols = LinearRegression(normalize=True)
    ols.fit(X_train, y_train)
    ols_coefs = ols.coef_
    sorted_coefs = np.sort(np.abs(ols_coefs))
    sorted_indices = np.argsort(np.abs(ols_coefs))
    sorted_labels = labels[sorted_indices]
    sorted_labels[-100:]
    els = []
    for el in zip(sorted_labels[-10:],ols_coefs[sorted_indices[-10:]]):
        els.append(el)
    print(ols.score(X_test, y_test))
    print(ols.score(X_train, y_train))
    ols_yhat = ols.predict(X_test)
    error = ols_yhat-y_test
    plt.hist(error, bins=20)
    plt.xlabel("Linear regression error plot for file " + tag)
    plt.show()
    return els

In [ ]:
ols_cols = run_ols(X_train, X_test, y_train, y_test, labels)

In [ ]:
background_train = background[:train.shape[0]]

In [ ]:
print(train.shape)
print(train.count())
print(train_nona.shape)
print(train_nona.count())
print(background.shape)

In [ ]:
background_train.shape