In [3]:
import numpy as np
import pandas as pd

In [4]:
def load_data(tag = "train"):
    return pd.read_csv('../ai4all_data/'+tag+'.csv')

In [5]:
train = load_data("train")
train_nona = train.dropna(how='all')
background = load_data("background")
train_nona = train.dropna(how='all')

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (10025,10029,10032,10575,10578,10592,10607,10616,10631,10640,10655,10693,10712,10716,10740,10782,10787,10791,10796,10833,10865,10999,11030,11043,11127,11128,11234,11258,11282,11309,11310,11384,11394,11408,11409,11411,11412,11438,11441,11485,11490,11504,11508,11511,11514,11520,11527,11533,11539,11545,11546,11624,11629,11658,11672,11673,11678,11679,11680,11719,11721,11934,12160,12166,12168,12177,12183,12189,12199,12201,12203,12205,12216,12217,12228,12229,12239,12300,12316,12358,12367,12375,12402,12404,12408,12451,12453,12465,12467,12475,12481,12483,12496,12498,12520,12530,12531,12541,12599,12607,12623,12638,12650,12651,12663,12668,12715,12717,12735,12736,12758,12762,12772,12781,12788,12800,12801) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [4]:
print(train.shape)
print(train.count())
print(train_nona.shape)
print(train_nona.count())

(2121, 7)
challengeID         2121
gpa                 1165
grit                1418
materialHardship    1459
eviction            1459
layoff              1277
jobTraining         1461
dtype: int64
(2121, 7)
challengeID         2121
gpa                 1165
grit                1418
materialHardship    1459
eviction            1459
layoff              1277
jobTraining         1461
dtype: int64

In [6]:
background

,challengeID,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
0,1,-3,NaN,-3,40,NaN,0,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
1,2,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,-3.000000,8.473318,-3.000000,-3.000000,-3.000000,-3.000000,9.845074,-3,-3.000000,9.723551
2,3,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,9.097495,10.071504,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
3,4,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,9.512706,10.286578,-3.000000,10.677285,-3.000000,-3,8.522331,10.608137
4,5,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,11.076016,9.615958,-3.000000,9.731979,-3.000000,-3,10.115313,9.646466
5,6,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,8.515700,10.558813,-3.000000,-3.000000,7.022328,-3.000000,10.564085,-3,-3.000000,10.255825
6,7,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,9.660643,9.861125,-3.000000,10.991854,-3.000000,-3,10.972726,10.859800
7,8,-3,NaN,1,10,NaN,1,NaN,NaN,NaN,...,-3.000000,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
8,9,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,11.689877,9.373199,-3.000000,8.194868,-3.000000,-3,9.842380,9.566678
9,10,-3,NaN,0,33,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,10.105870
10,11,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,-3.000000,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,10.724639
11,12,-3,NaN,0,23,NaN,1,NaN,NaN,NaN,...,11.548771,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,9.566678
12,13,-3,NaN,1,-3,NaN,1,NaN,NaN,NaN,...,10.780740,-3.000000,-3.000000,-3.000000,8.944119,-3.000000,9.781718,-3,-3.000000,9.566678
13,14,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,11.255820,9.080795,-3.000000,10.947183,-3.000000,-3,10.583791,10.035491
14,15,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.085272,-3,-3.000000,10.255825
15,16,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.000000,10.041367,-3.000000,-3.000000,12.132187,-3.000000,10.564085,-3,-3.000000,10.584419
16,17,-3,NaN,-3,32,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.991854,-3.000000,-3,10.972726,10.415491
17,18,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,8.568062,9.816745,-3.000000,-3.000000,-3.000000,-3.000000,9.089754,-3,-3.000000,9.566678
18,19,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,9.163075,9.472164,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
19,20,-3,NaN,-3,25,NaN,0,NaN,NaN,NaN,...,-3.000000,-3.000000,9.659539,9.080795,-3.000000,10.991854,-3.000000,-3,10.583791,9.661467
20,21,-3,NaN,-3,39,NaN,1,NaN,NaN,NaN,...,-3.000000,9.582837,-3.000000,-3.000000,-3.000000,-3.000000,8.248027,-3,-3.000000,10.724639
21,22,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,8.938355,9.080795,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
22,23,-3,NaN,1,0,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,10.035491
23,24,-3,NaN,-3,45,NaN,1,NaN,NaN,NaN,...,-3.000000,10.275275,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,10.255825
24,25,-3,NaN,-3,48,NaN,0,NaN,NaN,NaN,...,-3.000000,9.482001,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
25,26,-3,NaN,0,40,NaN,0,NaN,NaN,NaN,...,-3.000000,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,11.380357
26,27,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,9.563604,11.163239,-3.000000,-3.000000,10.216744,-3,-3.000000,10.035491
27,28,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
28,29,-3,NaN,-3,35,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,7.322922,10.441313,-3.000000,-3.000000,-3.000000,-3,-3.000000,9.566678
29,30,-3,NaN,-3,30,NaN,1,NaN,NaN,NaN,...,12.489133,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,9.597096,-3,-3.000000,9.973680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4212,4213,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,10.651494,-3.000000,10.564085,-3,-3.000000,9.566678
4213,4214,-3,NaN,-3,30,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,9.162070,-3,-3.000000,10.872706
4214,4215,-3,NaN,0,26,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,11.439565,9.067479,-3.000000,-3,10.592059,9.566678
4215,4216,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,10.176647,10.069954,-3.000000,10.580406,-3.000000,-3,10.972726,9.566678
4216,4217,-3,NaN,0,30,NaN,0,NaN,NaN,NaN,...,-3.000000,-3.000000,8.800737,9.861125,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4217,4218,-3,NaN,0,35,NaN,0,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,10.353358
4218,4219,-3,NaN,1,5,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,10.643917,10.847759,-3.000000,9.353874,-3.000000,-3,8.109951,9.566678
4219,4220,-3,NaN,0,15,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4220,4221,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,11.309520,10.558813,-3.000000,-3.000000,10.082897,-3.000000,9.737931,-3,-3.000000,10.255825
4221,4222,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,11.282495,-3.000000,-3.000000,-3,-3.000000,-3.000000
4222,4223,-3,NaN,-3,-3,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,11.255820,9.080795,-3.000000,10.991854,-3.000000,-3,10.972726,10.255825
4223,4224,-3,NaN,0,25,NaN,0,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.114012,-3,-3.000000,-3.000000
4224,4225,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4225,4226,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,8.799559,-3,-3.000000,10.255825
4226,4227,-3,NaN,0,55,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4227,4228,-3,NaN,-3,30,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,9.342878,9.080795,-3.000000,10.991854,-3.000000,-3,10.383905,10.587768
4228,4229,-3,NaN,0,45,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,6.383005,-3.000000,10.564085,-3,-3.000000,10.043338
4229,4230,-3,NaN,0,45,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,9.566678
4230,4231,-3,NaN,0,49,NaN,0,NaN,NaN,NaN,...,-3.000000,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,9.895271
4231,4232,-3,NaN,-3,55,NaN,1,NaN,NaN,NaN,...,10.404776,-3.000000,9.374775,9.727042,-3.000000,-3.000000,9.356898,-3,-3.000000,11.053232
4232,4233,-3,NaN,1,15,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,11.689877,11.393405,-3.000000,8.376201,-3.000000,-3,9.179113,9.745716
4233,4234,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,11.290807,9.758549,-3.000000,9.389236,-3.000000,-3,9.497208,9.794533
4234,4235,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,9.243452,9.699923,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4235,4236,-3,NaN,0,50,NaN,1,NaN,NaN,NaN,...,-3.000000,-3.000000,10.164257,9.080795,-3.000000,9.604171,-3.000000,-3,10.256992,10.255825
4236,4237,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,9.664038,10.558813,-3.000000,-3.000000,8.439545,-3.000000,9.635200,-3,-3.000000,10.255825
4237,4238,-3,NaN,0,40,NaN,0,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4238,4239,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,12.589754,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,9.566678
4239,4240,-3,NaN,-3,45,NaN,0,NaN,NaN,NaN,...,-3.000000,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4240,4241,-3,NaN,1,10,NaN,1,NaN,NaN,NaN,...,-3.000000,10.041367,-3.000000,-3.000000,9.208205,-3.000000,-3.000000,-3,10.611981,10.255825
4241,4242,-3,NaN,0,30,NaN,0,NaN,NaN,NaN,...,-3.000000,-3.000000,11.689877,9.863533,-3.000000,10.991854,-3.000000,-3,10.972726,9.566678