sources:

https://pandas.pydata.org/pandas-docs/stable/10min.html

https://cloudxlab.com/blog/numpy-pandas-introduction/

https://docs.scipy.org/doc/numpy/user/quickstart.html

# Python Libraries
Python libraries are sets of functions written by other people and open sourced for the general use. You do not need to worry about how the function is implemented - you can just call it according to the *library spec*. Today, we will learn **Pandas** - a library which allows us to read in data in the spreadsheet format and manipulate it easily.

# What is Pandas?
Pandas is one of the most widely used python libraries in data science. It provides high-performance, easy to use structures and data analysis tools. Pandas provides in-memory 2d table object called Dataframe. It is like a spreadsheet with column names and row labels.

Hence, with 2d tables, pandas is capable of providing many additional functionalities like creating pivot tables, computing columns based on other columns and plotting graphs. Pandas can be imported into Python using:

In [2]:
import pandas as pd

Pandas similar to excel and provides a nice graphical representation of arrays.

The best way to learn a new library is to go through tutorials offered online, such as these:

https://pandas.pydata.org/pandas-docs/stable/10min.html

https://pandas.pydata.org/pandas-docs/stable/tutorials.html

You can find functions available through the Pandas library online:

https://pandas.pydata.org/pandas-docs/stable/api.html

Or simply by using google.


#### Today, we will learn the basic ways to manipulate Pandas DataFrames and use them to look at the Fragile Families data. 

You initialize arrays (called Data Frames in Pandas) similaraly to numpy:

In [3]:
s = pd.DataFrame([1,3,5,6,8])
s

   0
0  1
1  3
2  5
3  6
4  8

You can also create a 2D data frame, with multiple columns and rows

In [24]:
# Let's create a Python 6x4 (6 rows, 4 columns) list: it will have 6 elements, each of which is a length 4 list
a = [[2,3,4,5],[4,677,774,3],[402,3034,202,22],[3.4,67.8,3,8],[5,4,22,5.],[1,2,3,4]]
print("list:\n",a)

# Now, let's create a DataFrame from that list
df = pd.DataFrame(a)#, index=range(5,11), columns=['A','B','C','D'])
print("\n pandas dataframe:\n", df)

list:
 [[2, 3, 4, 5], [4, 677, 774, 3], [402, 3034, 202, 22], [3.4, 67.8, 3, 8], [5, 4, 22, 5.0], [1, 2, 3, 4]]

 pandas dataframe:
        0       1    2     3
0    2.0     3.0    4   5.0
1    4.0   677.0  774   3.0
2  402.0  3034.0  202  22.0
3    3.4    67.8    3   8.0
4    5.0     4.0   22   5.0
5    1.0     2.0    3   4.0

You can also name your rows and columns distinct names, which helps with data manipulation

In [25]:
df.index = range(5,11)
df.columns = ['A','B','C','D']
print("\n pandas dataframe with updated column, row names:\n", df)

# We could combine the last two steps
df1 = pd.DataFrame(a, index=range(5,11), columns=['A','B','C','D'])
print("\n pandas dataframe, created in one step\n",df1)

 pandas dataframe with updated column, row names:
         A       B    C     D
5     2.0     3.0    4   5.0
6     4.0   677.0  774   3.0
7   402.0  3034.0  202  22.0
8     3.4    67.8    3   8.0
9     5.0     4.0   22   5.0
10    1.0     2.0    3   4.0

 pandas dataframe, created in one step
         A       B    C     D
5     2.0     3.0    4   5.0
6     4.0   677.0  774   3.0
7   402.0  3034.0  202  22.0
8     3.4    67.8    3   8.0
9     5.0     4.0   22   5.0
10    1.0     2.0    3   4.0

In [5]:
df

        A       B    C     D
5     2.0     3.0    4   5.0
6     4.0   677.0  774   3.0
7   402.0  3034.0  202  22.0
8     3.4    67.8    3   8.0
9     5.0     4.0   22   5.0
10    1.0     2.0    3   4.0

In [6]:
# To select a particular entry of the array, use the iloc function.
print(df.iloc[0,0])
print(df.iloc[4,3])

2.0
5.0

In [7]:
# You can subselect a column using its name
df["C"]

5       4
6     774
7     202
8       3
9      22
10      3
Name: C, dtype: int64

In [8]:
# You can also use indexing.
# "[:,2]" says "select all entries in the 0th (vertical) dimension, and 2nd entry in the 1st (horizontal) dimension
df.iloc[:,0]

5       2.0
6       4.0
7     402.0
8       3.4
9       5.0
10      1.0
Name: A, dtype: float64

In [9]:
# You can check the shape of your array by calling the following function:
df.shape

(6, 4)

Pandas also gives you a summary of value distribution in columns

In [10]:
df.describe()

                A           B           C          D
count    6.000000     6.00000    6.000000   6.000000
mean    69.566667   631.30000  168.000000   7.833333
std    162.864627  1206.38905  306.937779   7.139094
min      1.000000     2.00000    3.000000   3.000000
25%      2.350000     3.25000    3.250000   4.250000
50%      3.700000    35.90000   13.000000   5.000000
75%      4.750000   524.70000  157.000000   7.250000
max    402.000000  3034.00000  774.000000  22.000000

You can calculate those values yourself, by typing

In [45]:
print(df['A'].mean())
print(df['B'].min())
print(df['C'].std())
print(df['D'].max())

69.56666666666666
2.0
306.9377787109303
22.0

# Reading CSV files into pandas.
CSV files are "comma separated files" - that's the format most often used to save tabular (excel-like) data.

Reminder: 
* ".." means "go up a directory"
* "." means "this directory"
* "~" means "my username (so starting a level above Desktop, Documents, etc)
* "pwd" means "display the current directory"
* "ls" means "list contents of directory"

In [11]:
pwd

'/Users/agataforyciarz/ai4all/Lectures'

In [12]:
background = "../../ai4all_data/background.csv"
data_frame = pd.read_csv(background, low_memory=False)

You can display the entire table by just typing its name. Alternatively, you can call a ".head()" function to only show the first couple rows

In [13]:
data_frame.head()

,challengeID,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
0,1,-3,NaN,-3,40,NaN,0,NaN,NaN,NaN,...,-3.0,-3.000000,-3.000000,-3.000000,-3.0,-3.000000,-3.000000,-3,-3.000000,-3.000000
1,2,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,-3.0,8.473318,-3.000000,-3.000000,-3.0,-3.000000,9.845074,-3,-3.000000,9.723551
2,3,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,9.097495,10.071504,-3.0,-3.000000,-3.000000,-3,-3.000000,-3.000000
3,4,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,9.512706,10.286578,-3.0,10.677285,-3.000000,-3,8.522331,10.608137
4,5,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,11.076016,9.615958,-3.0,9.731979,-3.000000,-3,10.115313,9.646466

# Understanding Fragile Families Variables

Each row in the data frame represents a single individual enrolled in the Fragile Families study. Each column represents a different *variable* - information collected about that individual.

You can learn more about each variable by calling three ff functions:

**`select(varName, fieldName)`**: Returns metadata for variable varName.   (Optionally, returns only the field specified by fieldName.)

**`filter(*fieldNames)`**: Return a list of variables where fieldName matches the provided value.

**`search(query, fieldName)`**: Return a list of variables where query is found in fieldName.

In [57]:
# ff is a library written by the Fragile Families team and stored in a file ff.py a level up from our directory. 
# To import it, we need to append the directory above ours ('..') to our path and import the ff package (file ff.py)
import sys
sys.path.append('..')
import ff

# Let's look up the variable description
var_description = ff.select('t5c13a')
print(var_description, "\n\n")

# Let's examine what individual responses mean
print(var_description['responses'])

# Let's filter for all the variables where mother was the respondent:
mother_variables = ff.filter(respondent='m')
print(len(mother_variables))

{'id': 12655, 'section': 'c', 'group_id': '3026', 'old_name': 't5c13a', 'respondent': 't', 'leaf': '13a', 'group_subid': None, 'data_source': 'questionnaire', 'label': "C13A. Child's language and literacy skills", 'topics': [{'topic': 'cognitive skills', 'umbrella': 'Cognitive and behavioral development'}], 'wave': '5', 'scope': '20', 'name': 't5c13a', 'warning': 0, 'data_type': 'oc', 'responses': {'-8': 'Out of range', '-5': 'Not asked', '1': 'far below average', '3': 'average', '-1': 'Refuse', '4': 'above average', '-4': 'Multiple ans', '5': 'far above average', '-3': 'Missing', '-2': "Don't know", '-6': 'Skip', '-9': 'Not in wave', '2': 'below average', '-7': 'N/A'}}


{'-8': 'Out of range', '-5': 'Not asked', '1': 'far below average', '3': 'average', '-1': 'Refuse', '4': 'above average', '-4': 'Multiple ans', '5': 'far above average', '-3': 'Missing', '-2': "Don't know", '-6': 'Skip', '-9': 'Not in wave', '2': 'below average', '-7': 'N/A'}
4692

In [61]:
# For all these variables, list their labels:
#mother_labels = [ff.select(el)['label'] for el in mother_variables[:5]]

In [ ]:
mother_labels

Choose a row to be the row index:

In [16]:
data_frame = data_frame.set_index('challengeID')

In [17]:
data_frame

,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,cm1natsmx,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
challengeID,,,,,,,,,,,,,,,,,,,,,
1,-3,NaN,-3,40,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
2,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,8.473318,-3.000000,-3.000000,-3.000000,-3.000000,9.845074,-3,-3.000000,9.723551
3,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,9.097495,10.071504,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,9.512706,10.286578,-3.000000,10.677285,-3.000000,-3,8.522331,10.608137
5,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,11.076016,9.615958,-3.000000,9.731979,-3.000000,-3,10.115313,9.646466
6,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,NaN,...,8.515700,10.558813,-3.000000,-3.000000,7.022328,-3.000000,10.564085,-3,-3.000000,10.255825
7,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,9.660643,9.861125,-3.000000,10.991854,-3.000000,-3,10.972726,10.859800
8,-3,NaN,1,10,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
9,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,11.689877,9.373199,-3.000000,8.194868,-3.000000,-3,9.842380,9.566678
10,-3,NaN,0,33,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,10.105870
11,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,10.724639
12,-3,NaN,0,23,NaN,1,NaN,NaN,NaN,NaN,...,11.548771,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,9.566678
13,-3,NaN,1,-3,NaN,1,NaN,NaN,NaN,NaN,...,10.780740,-3.000000,-3.000000,-3.000000,8.944119,-3.000000,9.781718,-3,-3.000000,9.566678
14,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,11.255820,9.080795,-3.000000,10.947183,-3.000000,-3,10.583791,10.035491
15,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.085272,-3,-3.000000,10.255825
16,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,10.041367,-3.000000,-3.000000,12.132187,-3.000000,10.564085,-3,-3.000000,10.584419
17,-3,NaN,-3,32,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.991854,-3.000000,-3,10.972726,10.415491
18,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,NaN,...,8.568062,9.816745,-3.000000,-3.000000,-3.000000,-3.000000,9.089754,-3,-3.000000,9.566678
19,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,9.163075,9.472164,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
20,-3,NaN,-3,25,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,9.659539,9.080795,-3.000000,10.991854,-3.000000,-3,10.583791,9.661467
21,-3,NaN,-3,39,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,9.582837,-3.000000,-3.000000,-3.000000,-3.000000,8.248027,-3,-3.000000,10.724639
22,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,8.938355,9.080795,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
23,-3,NaN,1,0,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,10.035491
24,-3,NaN,-3,45,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,10.275275,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,10.255825
25,-3,NaN,-3,48,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,9.482001,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
26,-3,NaN,0,40,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,11.380357
27,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,9.563604,11.163239,-3.000000,-3.000000,10.216744,-3,-3.000000,10.035491
28,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
29,-3,NaN,-3,35,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,7.322922,10.441313,-3.000000,-3.000000,-3.000000,-3,-3.000000,9.566678
30,-3,NaN,-3,30,NaN,1,NaN,NaN,NaN,NaN,...,12.489133,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,9.597096,-3,-3.000000,9.973680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4213,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,10.651494,-3.000000,10.564085,-3,-3.000000,9.566678
4214,-3,NaN,-3,30,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,9.162070,-3,-3.000000,10.872706
4215,-3,NaN,0,26,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,11.439565,9.067479,-3.000000,-3,10.592059,9.566678
4216,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,10.176647,10.069954,-3.000000,10.580406,-3.000000,-3,10.972726,9.566678
4217,-3,NaN,0,30,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,8.800737,9.861125,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4218,-3,NaN,0,35,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,10.353358
4219,-3,NaN,1,5,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,10.643917,10.847759,-3.000000,9.353874,-3.000000,-3,8.109951,9.566678
4220,-3,NaN,0,15,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4221,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,NaN,...,11.309520,10.558813,-3.000000,-3.000000,10.082897,-3.000000,9.737931,-3,-3.000000,10.255825
4222,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,11.282495,-3.000000,-3.000000,-3,-3.000000,-3.000000
4223,-3,NaN,-3,-3,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,11.255820,9.080795,-3.000000,10.991854,-3.000000,-3,10.972726,10.255825
4224,-3,NaN,0,25,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.114012,-3,-3.000000,-3.000000
4225,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4226,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,8.799559,-3,-3.000000,10.255825
4227,-3,NaN,0,55,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4228,-3,NaN,-3,30,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,9.342878,9.080795,-3.000000,10.991854,-3.000000,-3,10.383905,10.587768
4229,-3,NaN,0,45,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,6.383005,-3.000000,10.564085,-3,-3.000000,10.043338
4230,-3,NaN,0,45,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,9.566678
4231,-3,NaN,0,49,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,9.895271
4232,-3,NaN,-3,55,NaN,1,NaN,NaN,NaN,NaN,...,10.404776,-3.000000,9.374775,9.727042,-3.000000,-3.000000,9.356898,-3,-3.000000,11.053232
4233,-3,NaN,1,15,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,11.689877,11.393405,-3.000000,8.376201,-3.000000,-3,9.179113,9.745716
4234,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,11.290807,9.758549,-3.000000,9.389236,-3.000000,-3,9.497208,9.794533
4235,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,9.243452,9.699923,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4236,-3,NaN,0,50,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,10.164257,9.080795,-3.000000,9.604171,-3.000000,-3,10.256992,10.255825
4237,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,NaN,...,9.664038,10.558813,-3.000000,-3.000000,8.439545,-3.000000,9.635200,-3,-3.000000,10.255825
4238,-3,NaN,0,40,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4239,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,NaN,...,12.589754,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,9.566678
4240,-3,NaN,-3,45,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,10.558813,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,-3,-3.000000,-3.000000
4241,-3,NaN,1,10,NaN,1,NaN,NaN,NaN,NaN,...,-3.000000,10.041367,-3.000000,-3.000000,9.208205,-3.000000,-3.000000,-3,10.611981,10.255825
4242,-3,NaN,0,30,NaN,0,NaN,NaN,NaN,NaN,...,-3.000000,-3.000000,11.689877,9.863533,-3.000000,10.991854,-3.000000,-3,10.972726,9.566678

# Other libraries

Some of the libraries popular in AI research are:

For data manipulation:
* **numpy** - for efficient math and dealing with operations on tables and matrices
* **pandas** - similar to numpy, more readable, more similar to the R programming language

For visualization:
* **matplotlib** - plotting

We will not be using the following libraries, but you will probably use them in the future:

For Machine Learning calculations
* TensorFlow - offering efficient implementations of Machine Learning algorithms, such as Neural Networks
* PyTorch
* Caffe